@import url('./base.css');
@import url('./animation.css');

@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/full-responsibility.css');
@import url('./layout/stats.css');
@import url('./layout/offers.css');
@import url('./layout/timeline.css');
@import url('./layout/guarantees.css');
@import url('./layout/contacts.css');