@import url('./base.css');

.full-responsibility {
    padding: 20px 0;
    margin: 0;
}

.full-resp-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-resp-top {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 40px;
}

.full-resp-image {
    flex: 0 1 50%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-resp-image-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.full-resp-content {
    flex: 0 1 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 30px;
    background-color: var(--color4);
    border-radius: 10px;
}

.full-resp-content h2 {
    font-size: 2rem;
    color: var(--color2);
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Inter-Bold', sans-serif;
}

.full-resp-content p {
    color: var(--color2);
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
}

.full-resp-features {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 0 40px;
}

.feature-btn {
    padding: 20px 50px;
    background-color: var(--color2);
    color: var(--color4);
    border: 3px solid var(--color4);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.feature-btn:hover {
    background-color: var(--color1);
}

@media (max-width: 1100px) and (min-width: 769px) {
    .full-responsibility {
        padding: 15px 0;
    }

    .full-resp-top {
        gap: 10px;
        padding: 0 30px;
    }

    .full-resp-image {
        flex: 0 1 50%;
        min-width: 250px;
    }

    .full-resp-content {
        flex: 0 1 50%;
        min-width: 250px;
        padding: 20px;
    }

    .full-resp-content h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .full-resp-content p {
        font-size: 1.2rem;
    }

    .full-resp-features {
        gap: 10px;
        padding: 0 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    .feature-btn {
        padding: 15px 40px;
        font-size: 1.1rem;
        border: 2px solid var(--color4);
    }
}

@media (max-width: 768px) {
    .full-responsibility {
        padding: 15px 0;
    }

    .full-resp-container {
        gap: 15px;
    }

    .full-resp-top {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }

    .full-resp-image {
        display: none;
    }

    .full-resp-content {
        flex: none;
        width: 100%;
        min-width: auto;
        padding: 20px;
        text-align: left;
    }

    .full-resp-content h2 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .full-resp-content p {
        font-size: 1rem;
    }

    .full-resp-features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .feature-btn {
        padding: 12px 10px;
        font-size: 1rem;
        min-width: none;
    }
}