@import url('./base.css');

.guarantees-section {
    background-color: var(--color4);
    padding: 20px 0;
    margin: 40px 40px;
}

.guarantees-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.guarantee-card {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guarantee-card h3 {
    font-size: 2rem;
    color: var(--color2);
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Inter-Bold', sans-serif;
}

.guarantee-card p {
    color: var(--color2);
    font-size: 1.2rem;
    margin: 0 0 15px 0;
    line-height: 1.5;
}

.guarantee-card img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.guarantee-card-white {
    background-color: var(--color3);
    color: var(--color2);
}

.guarantee-card-blue {
    background-color: var(--color2);
    color: var(--color4);
}

.guarantee-card-blue h3,
.guarantee-card-blue p {
    color: var(--color4);
}

@media (max-width: 1100px) and (min-width: 769px) {
    .guarantees-section {
        padding: 15px 0;
        margin: 30px;
    }

    .guarantees-container {
        gap: 10px;
    }

    .guarantee-card {
        padding: 15px;
    }

    .guarantee-card h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .guarantee-card p {
        font-size: 1.2rem;
        margin: 0 0 10px 0;
    }

    .guarantee-card img {
        width: 100%;
        height: 150px;
        margin-top: 10px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .guarantees-section {
        padding: 15px 0;
        margin: 20px 5px;
    }

    .guarantees-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .guarantee-card {
        padding: 15px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .guarantee-card h3 {
        font-size: 1.6rem;
        margin-bottom: 8px;
    }

    .guarantee-card p {
        font-size: 1.2rem;
        margin: 0 0 10px 0;
    }

    .guarantee-card img {
        width: 80%;
        height: 120px;
        object-fit: cover;
        margin-top: 8px;
    }
}