@import url('./base.css');

.hero-section {
    background-color: var(--color4);
    padding: 40px;
    margin-top: 20px;
}

.hero-container {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.hero-left{
    flex: 0 1 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: var(--color3);
    border-radius: 10px;
}

.hero-right {
    flex: 0 1 60%;
    min-width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    color: var(--color2);
    margin: 0 50px 15px 50px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Inter-Bold', sans-serif;
}

.hero-left p {
    color: var(--color2);
    margin: 0 50px 20px 50px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.hero-img-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-btn-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px 110px;
    border-radius: 10px;
}

.hero-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10;
    margin: 0;
    width: auto;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid var(--color4);
    background-color: var(--color2);
    color: var(--color4);
}

.hero-btn:hover {
    background-color: var(--color1);
}

@media (max-width: 1100px) and (min-width: 769px) {
    .hero-section {
        padding: 30px;
    }
    .hero-container {
        gap: 10px;
    }

    .hero-left {
        flex: 0 1 45%;
        min-width: 250px;
        padding: 15px;
    }

    .hero-right {
        flex: 0 1 55%;
        min-width: 250px;
    }

    h1 {
        font-size: 1.8rem;
        margin: 0 10px 15px 10px;
    }

    .hero-left p {
        font-size: 1.2rem;
        margin: 0 20px 20px 20px;
    }

    .hero-btn-overlay {
        padding: 30px 90px;
    }

    .hero-btn {
        padding: 8px 40px;
        font-size: 1.1rem;
        border: 2px solid var(--color4);
        left: 9px;
        bottom: 7px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 30px 20px;
        margin-top: 15px;
    }

    .hero-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .hero-left {
        flex: none;
        width: 100%;
        min-width: auto;
        padding: 20px;
    }

    .hero-right {
        flex: none;
        width: 100%;
        min-width: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.6rem;
        margin: 0 0 10px 0;
        text-align: left;
    }

    .hero-left p {
        font-size: 1.2rem;
        margin: 0 0 20px 0;
        text-align: left;
    }

    .hero-img-container {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .hero-btn-overlay {
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: transparent;
    }

    .hero-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: auto;
        padding: 8px 30px;
        font-size: 1rem;
    }
}