@import url('./base.css');

.section-gap {
    background-color: var(--color3);
    padding: 20px 0;
}

.stats-section {
    padding: 60x 0;
    margin: 40px 40px;
}

.stats-container {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.stats-left {
    flex: 0 1 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0;
    background-color: var(--color4);
    border-radius: 10px;
}

.stat-card {
    text-align: center;
    padding: 15px;
}

.stat-card h3 {
    font-size: 2rem;
    color: var(--color2);
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Inter-Bold', sans-serif;
}

.stat-card p {
    font-size: 1.5rem;
    color: var(--color2);
    margin: 0;
}

.stats-right {
    flex: 0 1 60%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1100px) and (min-width: 769px) {
    .section-gap {
        padding: 15px 0;
    }

    .stats-section {
        margin: 30px 5px;
    }

    .stats-container {
        gap: 10px;
    }

    .stats-left {
        flex: 0 1 45%;
        min-width: 250px;
        padding: 15px 5px;
        gap: 10px;
    }

    .stats-right {
        flex: 0 1 55%;
        min-width: 250px;
    }

    .stat-card {
        text-align: center;
        padding: 5px;
    }

    .stat-card h3 {
        font-size: 1.8rem;
        margin: 0;
    }

    .stat-card p {
        font-size: 1.3rem;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .stats-section {
        margin: 30px 0;
        padding: 0;
    }

    .stats-container {
        flex-direction: row;
        gap: 10px;
        padding: 0 20px;
    }

    .stats-left {
        padding: 0;
        flex: 0 1 40%;
        min-width: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
    }

    .stat-card {
        padding: 10px;
        margin: 0;
        padding: 0;
    }

    .stat-card h3 {
        font-size: 1.6rem;
        margin: 0;
    }

    .stat-card p {
        font-size: 1rem;
        margin: 0;
    }

    .stats-right {
        flex: 0 1 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stats-img {
        width: 50%;
        height: auto;
        max-height: 150px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }
}