@import url('./base.css');

.stats-img-mobile {
    display: none;
}

.section-gap {
    background-color: var(--color3);
    padding: 20px 0;
}

.stats-section {
    padding: 60x 0;
    margin: 40px 40px;
}

.stats-container {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.stats-left {
    flex: 0 1 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0;
    background-color: var(--color4);
    border-radius: 10px;
}

.stat-card {
    text-align: center;
    padding: 15px;
}

.stat-card h3 {
    font-size: 2rem;
    color: var(--color2);
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Inter-Bold', sans-serif;
}

.stat-card p {
    font-size: 1.5rem;
    color: var(--color2);
    margin: 0;
}

.stats-right {
    flex: 0 1 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1100px) and (min-width: 769px) {
    .section-gap {
        padding: 15px 0;
    }

    .stats-section {
        margin: 30px 5px;
    }

    .stats-container {
        gap: 10px;
    }

    .stats-left {
        flex: 0 1 45%;
        min-width: 250px;
        padding: 15px 5px;
        gap: 10px;
    }

    .stats-right {
        flex: 0 1 55%;
        min-width: 250px;
    }

    .stats-img {
        box-shadow: 0 10px 28px rgba(0, 0, 0, 0.5);
    }

    .stat-card {
        text-align: center;
        padding: 5px;
    }

    .stat-card h3 {
        font-size: 1.8rem;
        margin: 0;
    }

    .stat-card p {
        font-size: 1.3rem;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .stats-img-desktop {
        display: none;
    }

    .stats-section {
        margin: 30px 0;
        padding: 0;
    }

    .stats-container {
        flex-direction: column;
        gap: 15px;
        padding: 0 15px;
    }

    .stats-left {
        width: 100%;
        padding: 10px;
        background-color: var(--color4);
        border-radius: 10px;
        gap: 5px;
    }

    .stat-card {
        padding: 5px 5px;
        text-align: center;
    }

    .stat-card h3 {
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .stat-card p {
        font-size: 1.2rem;
    }

    .stats-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .stats-img {
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
    }

    .stats-img-mobile {
        display: block;
        width: 100%;
        max-width: none;
        height: auto;
        border-radius: 10px;
    }
}
